.topbar{

    height:72px;

    display:flex;

    align-items:center;

    padding:0 40px;

    border-bottom:1px solid var(--border);

}

.topbar h1{

    font-size:22px;

    font-weight:700;

}

.chat-area{

    flex:1;

    overflow-y:auto;

    display:flex;

    justify-content:center;

    align-items:center;

}

.welcome{

    text-align:center;

}

.welcome h2{

    font-size:42px;

    font-weight:700;

}