.input-area{

    display:flex;

    gap:14px;

    width:100%;

    max-width:950px;

    margin:0 auto;

    padding:28px;

    transition:.35s ease;

}

.input-area.centered{

    margin-top:auto;

    margin-bottom:50px;

}

textarea{

    flex:1;

    resize:none;

    border:none;

    outline:none;

    background:var(--panel);

    color:white;

    border-radius:18px;

    padding:18px 22px;

    font-size:16px;

    border:1px solid var(--border);

}

textarea:focus{

    border-color:var(--accent);

}

#send{

    width:60px;

    border:none;

    border-radius:18px;

    background:var(--accent);

    color:white;

    font-size:22px;

    cursor:pointer;

}