:root{

    --bg:#09090B;

    --panel:#111115;

    --panel-light:#1F1F23;

    --border:#2E2E35;

    --text:#F5F5F5;

    --text-secondary:#A3A3A8;

    --accent:#D4D4D8;

    --radius:18px;

    --max-width:850px;

}